header {
  background-color: #1ED760;
  display: flex;
  justify-content: center;
  .trovaAlbum {
    padding: 20px 40px;
    background-color: black;
    color: #1ED760;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px;
  }
}
