header {
  background: linear-gradient(90deg, rgba(0,68,24,1) 8%, rgba(30,215,96,1) 50%, rgba(0,68,24,1) 92%);
  display: flex;
  justify-content: center;
  .trovaAlbum {
    padding: 20px 40px;
    background-color: black;
    color: #1ED760;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px;
  }
}
