* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}
header {
  background-color: #4682B4;
  height: 10vh;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #365D95;
}
.dischi-container {
  background-color: #365D95;
  height: 90%;
  width: 90%;
  padding: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.disco-singolo {
  width: 200px;
  background-color: #4682B4;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 10px;
  margin: 20px;
}
.disco-singolo:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 39px 12px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 39px 12px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 39px 12px rgba(0,0,0,0.46);
}
.copertina {
  width: 100%;
  padding: 20px;
  display: flex;
}
.titolo {
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  text-align: center;
}
.artista {
  padding-top: 20px;
}
.anno {
  padding-bottom: 30px;
}
.trovaAlbum {
  padding: 20px 40px;
  background-color: #4682B4;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}
